.ToggleButtons{
    width: 220px;
    height: 50px;
    margin: auto;
    background-color: coral;
    border-width: 0px;
    box-shadow: black;
    /* margin-right: 5px;  */
    /* margin-left: 5px; */ 

    
}

.ToggleButtonsClicked{
    width: 220px;
    height: 50px;
    margin: auto;
    background-color: tomato;
    border-width: 0px;
    /* margin-right: 5px; */
    /* margin-left: 5px; */

}

.ButtonHandler{
    display: flex;
    /* flex-direction: column; */
    padding-left: 15%;
    padding-right: 15%;
    /* margin-left: 18%; */
    /* margin-right: 18%; */
    margin-top: 10px;
    margin-bottom: 10px;

}

.Current{
    font-family: 'Times New Roman', Times, serif;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center;

    /* color: whitesmoke; */
    margin-top: 25px;
    margin-bottom: 25px;

    /* color: whitesmoke; */

    /* color: rgb(85, 32, 32); */

    /* height:300px;
    border-left: solid;
    padding-left: 30px;
    margin-left: 50px;
    width:500px;
    /* text-align: left; */
    font-weight: 1000; 
    font-size: 30px; 

}
/* .LinksImgs{
    height: 10px;
    width: 10px;
} */

.Links>a{
    margin-right: 10px;
}
.Links>a>img{
    height: 40px; 
    width: 40px;
}

.Project{
    display: flex;
    flex-direction: column;
}

.ProjectBody{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}


.ProjectBody>h1{
    /* color: whitesmoke; */
    color: rgb(85, 32, 32);

    font-family: 'Times New Roman', Times, serif;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center;
        /* text-align: left; */

}

/*  */

.ProjectImage{
    /* background-image: url("https://munkeops.github.io/Blogs/assets/images/contactbook.png"); */
    height:250px;
    width:250px;
    border-radius: 5%;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    /* box-shadow: 0 0 15px 6px black; with blur shadow */
    /* margin-right: 20px; */
    /* padding-right: 50px; */
}
.ProjectItem{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 18%;
    margin-right: 18%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
    border-radius: 10px;


    /* margin-bottom: 50px; */
    /* height: 80vh; */
    background: rgba(0, 0, 0, 0.8);


    
}

.ProjectData{
    color: whitesmoke;
    /* color: whitesmoke; */

    /* color: rgb(85, 32, 32); */

    height:300px;
    border-left: solid;
    padding-left: 20px;
    margin-left:80px;
    width:500px;
    text-align: left;
    /* font-weight: 1000; */
    /* font-size: 16px; */
}

@media screen and (max-width: 1500px){
    .ProjectItem{
        flex-direction: column;
        margin:0px;
        margin-top: 20px;
        /* margin-left: -100px; */
        width: auto;
        padding: 0px ;
        height: 900px;
        border-radius: 0px;

    }
    .ProjectData{
        border-left: none;
        /* margin:auto; */
        text-align: center;
        
        width: auto;
        margin: auto;
        margin-top: -50px;
        padding: auto;
        /* margin-bottom: 10px; */
        
        
    }
    .ProjectBody{
        width: auto;
    }
    .ProjectImage{
        /* text-align: center; */
        margin: auto;
        /* width: 50px; */
        /* width: 100%; */
        /* margin-left: 20px; */
    }

    .ButtonHandler{
        display: flex;
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .ToggleButtons{
        width: 220px;
        height: 50px;
        margin: auto;
        background-color: coral;
        border-width: 0px;
        box-shadow: black;
        margin-right: 1px; 
        /* margin-left: 5px; */ 
    
        
    }


.ToggleButtonsClicked{
    width: 220px;
    height: 50px;
    margin: auto;
    background-color: tomato;
    border-width: 0px;
    margin-right: 1px;
    /* margin-left: 5px; */

}

}