/* Slideshow */

.slideshow {
    /* margin: 0 auto; */
    overflow: hidden;
    /* max-width: 500px; */
    max-width: 300px;

  }
  
  .slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
  }
  
  .slide {
    display: inline-block;
  
    /*height: 400px;
    width: 100%;
    border-radius: 40px; */


    height:300px;
    width:300px;
    border-radius: 5%;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
  }
  
  /* Buttons */
  
  .slideshowDots {
    text-align: center;
  }
  
  .slideshowDot {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
  
    cursor: pointer;
    margin: 15px 7px 0px;
  
    background-color: #c4c4c4;
  }
  
  .slideshowDot.active {
    background-color: #6a0dad;
  }

@media screen and (max-width: 1500px){
    .slide{
        /* text-align: center; */
        margin: auto;
        /* width: 50px; */
        /* width: 100%; */
        /* margin-left: 20px; */
    }
    .slideshow {
        margin:auto;
    }
}
