/* .CTabs{
    /* background-color: black; */
    margin: auto;
    display: flex;
    padding: auto;

}

.Ctab{
    margin-left: 10px;
}

.Tabholder{
    display: flexbox;
    align-items:center;
    /* width: 100vw; */
    /* padding: auto;  */
    /* margin: auto; */
} */